.glyphicon {
text-align: center;
font-size: 2.4em;
padding-bottom: .7vh;
/*color: #666666;*/
}
a {
color: #666666;
margin-left: 1vw;
margin-right: 1vw;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #1a1a1a;
  background-color: #208000;
}
/*a.nav-link.ng-binding {
font-size: 28;
}*/
.container {
width: 100%;
text-align: center;
padding-left: 0px;
padding-right: 0px;
height: 100%;

}
div#main {
/*height: 91vh;*/
}
.PageContainer{
  margin-top: 9.0vh;
  margin-bottom: 9.0vh;
  /*height: 91vh;*/
}
li.list-group-item.ng-binding.ng-scope {
  font-family: 'Roboto Slab', serif;
  color: #666666;
}
/*Danger list item*/
.list-group-item-danger {
color: #a94442;
background-color: #d39292;
position: relative;
display: block;
padding: 10px 15px;
/*margin-bottom: -1px;*/
border: 1px solid #ddd;
}
/*warning list item*/
.list-group-item-warning {
color: #8a6d3b;
background-color: #f0dc75;
position: relative;
display: block;
padding: 10px 15px;
/*margin-bottom: -1px;*/
border: 1px solid #ddd;
}
/*success list item*/
.list-group-item-success {
color: #3c763d;
background-color: #a4d491;
position: relative;
display: block;
padding: 10px 15px;
/*margin-bottom: -1px;*/
border: 1px solid #ddd;
}
/*list group*/
.list-group {
padding-left: 0;
margin-bottom: 10px;
}
/*no more bevaled edges*/
.list-group-item:first-child {
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}
/*active list group item*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
z-index: 2;
color: #fff;
background-color: rgba(32, 128, 0, .6);
border-width: 1;
border-color: #1a1a1a;
}
h2{
  color: #666666;
  margin-top: 1.5vh;
  font-family: 'Roboto Slab', serif;
}
h3{
  color: #1a1a1a;
  margin-top: 1.5vh;
  font-family: 'Roboto Slab', serif;
}

ul.nav.nav-pills {
text-align: center;
/* align-items: center; */
display: inline-block;
}

/*restrict body size*/
body.ng-scope {
  width: 100vw;
height: 100vh;
}


.navbar-default {
background-color: #1a1a1a;
border-color: #0d0d0d;
margin-bottom: 0px;
height: 9vh;
}
/*a.nav-link.ng-binding {
color: #ffffff;
font-family: 'Roboto Slab', serif;
padding-left: 0px;
padding-right: 0px;
padding-top: 2px;
padding-bottom: 2px;
}
nav.navbar.navbar-default {
margin-bottom: 0px;
}
li.uib-tab.nav-item {
width: 17vw;
}*/

@media (min-width: 768px)
.navbar {
border-radius: 0px;
}
